* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background: radial-gradient(at center, #3498db, #9b59b6);
}

p {
    white-space: nowrap;
    overflow: hidden;
    font-size: 25px;
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid ;
    animation: typing 4s steps(100, end) infinite, cursor .75s step-end infinite;
}

.parent-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    height: 100vh;
}

.outer-circle {
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
    width: 200px;
    height: 200px;
    animation: spin 1s linear infinite;
    text-align: center;
    border-radius: 100px;
    box-shadow: 1px 5px 10px #1a2a6c, 1px -5px 10px #b21f1f, 5px 0px 10px #fdbb2d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    background: radial-gradient(at center, #3498db, #9b59b6);
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
  
@keyframes spin {
    to {rotate: 360deg;}  
}

  @keyframes typing {
     from { width: 0; }
     to { width: 100%; }
  }
   
  @keyframes cursor{
    from, to {border-color: transparent}
    50%{ border-color: #1a2a6c}
  }